<h1>New Restaurant</h1>
<%= form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.select :category, ['chinese', 'italian', 'belgian', 'japanese', 'french']%>

  <%= f.submit %>
<% end %>

<%= link_to "Back to list", restaurants_path %>
