<h1><%=@restaurant.name%></h1>
<p><%=@restaurant.address%></p>
<p>Phone Number: <%=@restaurant.phone_number%></p>
<p><%=@restaurant.category.capitalize%></p>
<div><%= link_to "Back to list", restaurants_path %></div>
<div><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></div>
